<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Add comment')}"></form>
<body id="page-top">
<div th:replace="~{index.html :: nav}"></div>
<header class="masthead">
    <div class="container">
        <div class="masthead-subheading" th:text="${'Comment'}">Comment!</div>
        <div class="body-content" th:fragment="comment_form(submit)">
            <form action="#" method="post" th:action="@{__${requestURI}__}" th:object="${comment}">
                <label th:text="${'Content'}">Content</label>
                <br/>
                <input th:field="*{content}" type="text"/>
                <input th:text="${submit}" type="submit" value="Add comment"/>
            </form>
        </div>
    </div>
</header>

<form th:replace="~{index.html :: footer}"></form>
</body>
</html>