<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Add comment')}"></form>
<body id="page-top">
<div th:replace="~{index.html :: nav}"></div>
<header class="masthead" th:fragment="comment_form()">
    <div class="container">
        <div class="masthead-subheading" th:text="${'Comment'}">Comment!</div>
        <div class="body-content" >
            <form action="#" method="post" th:action="@{__${requestURI}__}" th:object="${comment}">
                <label th:text="${'Content'}">Content</label>
                <br/>
                <textarea th:field="*{content}" rows="4" cols="50" class="form-control"></textarea>
                <input  type="submit" class="btn btn-primary mb-2" value="Submit"/>

            </form>
        </div>
    </div>
</header>

<form th:replace="~{index.html :: footer}"></form>
</body>
</html>