<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Admin Portal')}"></form>
<body>
<form th:replace="~{HomeView.html :: header}"></form>
<div class="body-content">
    <h2  th:text= "${'Welcome!'}" ></h2>
    <h2 th:text="${session.currentUser}" th:if="${isAuthenticated}"></h2>


</div>
<div class="body-content">
    <form action="#" th:action="@{/admin}" method="get" th:object="${filterOptions}">
        <label th:text="${'Filter Options'}">Filter Options</label>
        <br/><br/>

<div>
        <input  type="text" placeholder="username" th:field="*{username}"  />


        <input type="text" placeholder="email" th:field="*{email}"  />

        <input type="text" placeholder="firstName" th:field="*{firstName}"  />


</div>

        <input type="submit" value="Search"/>
    </form>

    <div th:if="${users.isEmpty()}">
        <h2 th:text="${'No Users'}">No Users</h2>
    </div>
    <div th:unless="${users.isEmpty()}">
        <h2 th:text="${'All Users'}">All Users</h2>

        <div class="table">
            <div class="header">
                <div class="cell" th:text="${'Username'}"  >Username</div>
                <div class="cell" th:text="${'Email'}">Email</div>
                <div class="cell" th:text="${'First Name'}">First Name</div>


            </div>
            <div class="row" th:each="user : ${users}">
                <div class="cell">
                    <a href="#" th:href="@{/users/current}" th:text="${user.username}" >Username</a>

                </div>
                <div class="cell">
                    <p href="#" th:href="@{/admin/{id}(id=${user.id})}" th:text="${user.email}" >Email</p>

                </div>
                <div class="cell">
                    <p href="#" th:href="@{/admin/{id}(id=${user.id})}" th:text="${user.firstName}" >First Name</p>

                </div>




            </div>
        </div>
    </div>
</div>


<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>