<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Admin Portal')}"></form>
<body id="page-top">
<div th:replace="~{index.html :: nav}"></div>
<header class="masthead">
    <div class="container">
        <h2 th:text="${'Welcome!'}"></h2>
        <h2 th:if="${isAuthenticated}" th:text="${session.currentUser}"></h2>
        <div class="masthead">
            <form action="#" method="get" th:action="@{/admin}" th:object="${filterOptions}">
                <label th:text="${'Filter Options'}">Filter Users</label>
                <br/><br/>

                <div class="form-row">
                    <input  class="form-control mb-2" placeholder="username" th:field="*{username}" type="text"/>


                    <input class="form-control mb-2" placeholder="email" th:field="*{email}" type="text"/>

                    <input class="form-control mb-2" placeholder="firstName" th:field="*{firstName}" type="text"/>


                </div>

                <input type="submit" class="btn btn-primary mb-2" value="Search"/>
            </form>

            <div th:if="${users.isEmpty()}">
                <h2 th:text="${'No Users'}">No Users</h2>
            </div>
            <div th:unless="${users.isEmpty()}">
                <h2 th:text="${'All Users'}">All Users</h2>

                <div class="form-row">
                    <div class="header">
                        <div class="cell" th:text="${'Username'}">Username</div>
                        <div class="cell" th:text="${'Email'}">Email</div>
                        <div class="cell" th:text="${'First Name'}">First Name</div>
                    </div>
                    <div class="row" th:each="user : ${users}">
                        <div class="cell">
                            <a href="#" th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}">Username</a>
                        </div>
                        <div class="cell">
                            <p  href="#" th:href="@{/admin/{id}(id=${user.id})}" th:text="${user.email}">Email</p>
                        </div>
                        <div class="cell">
                            <p  href="#" th:href="@{/admin/{id}(id=${user.id})}" th:text="${user.firstName}">First name</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>


<form th:replace="~{index.html :: footer}"></form>
</body>
</html>