<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Comment')}"></form>


<body>
<form th:replace="~{HomeView.html :: header}"></form>

<div class="body-content">
  <h2>Comment</h2>
  <form action="#" th:action="@{__${requestURI}__}" th:object="${comment}" method="post">
    <label th:text="${'Content'}">Content</label>
    <br/>
    <input type="text" th:field="*{content}"/>




    <input type="submit" value="Add comment"/>
  </form>
</div>

<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>