<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Comment')}"></form>

<body id="page-top">
<div th:replace="~{index.html :: nav}"></div>
<header class="masthead">
    <div class="masthead-subheading" th:text="${'Comment'}">Comment</div>
        <div class="container1" th:style="text-align">

            <p class="message-body" th:text="${comment.getContent()}"></p>
            <p class="message-body" th:text="${comment.createdBy.email}"></p>
            <p class="message-body" th:text="${comment.createDate}"></p>
            <br/><br/>
            <a class="message-body" href="#" th:href="@{__${requestURI}__/update}" th:if="${ hasModifyPermissions}">Update</a>
            <a class="message-body" href="#" th:href="@{__${requestURI}__/delete}" th:if="${ hasModifyPermissions}">Delete</a>
        </div>
    </header>


    <form th:replace="~{index.html :: footer}"></form>
</body>
</html>