<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Comment')}"></form>


<body>
<form th:replace="~{HomeView.html :: header}"></form>

<div class="body-content">
  <h2>Comment</h2>

  <p th:text="${comment.getContent()}"></p>
  <p th:text="${comment.createdBy.email}"></p>
  <p th:text="${comment.createDate}"></p>
  <a href="#" th:if="${ hasModifyPermissions}" th:href="@{__${requestURI}__/update}">Update</a>
  <a href="#" th:if="${ hasModifyPermissions}" th:href="@{__${requestURI}__/delete}">Delete</a>



</div>

<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>