<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Index</title>

  <link rel="icon" type="image/png" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}" >

  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

</head>
<body class ="contact">
<nav id="topmenu" >

  <ul>
    <li CLASS="add post"><a href="#">ADD POST</a></li>
    <li ><a href="/templates/Index.html" th:href="@{/}" >HOME</a></li>
    <li ><a href="#">CONTACT</a></li>
    <li ><a href="#">LOGIN</a></li>
    <li ><a href="#">REGISTER</a></li>
    <li ><a href="#">LOGOUT</a></li>
  </ul>
</nav>

<footer>

  <p>©copyright 2023</p>
</footer>

</body>
</html>