<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Index</title>

    <link rel="icon" type="image/png" href="/static/images/favicon.ico" th:href="@{/images/favicon.ico}" >

    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>




</head>
<body>

<nav id="topmenu" >

    <ul>
        <li ><a href="#">ADD POST</a></li>
        <li ><a href="/templates/Index.html" th:href="@{/}"  >HOME</a></li>
        <li ><a href="/templates/Contact.html" th:href="@{/contact}">CONTACT</a></li>
        <li ><a href="#">LOGIN</a></li>
        <li ><a href="#">REGISTER</a></li>
        <li ><a href="#">LOGOUT</a></li>
    </ul>
</nav>

<section class="welcome">
    <h1>Welcome To Forum Movie!</h1>
    <p>
        Just seen a movie? Tell everyone what you thought,
        read other users' reviews, suggest what to watch or what to avoid, or chat about upcoming movie.
        Our forum has 100 users and 200 posts.
    </p>

</section>

<div>
    <img src="/static/images/IndexPic14.jpg" th:src = "@{/images/IndexPic14.jpg}">
</div>



<footer>

    <p>©copyright 2023</p>
</footer>
</body>
</html>