<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('Login')}"></form>
<body id="page-top">
<!-- Navigation-->
<div th:replace = "~{index.html :: nav}"></div>
    <header class="masthead">
    <div class="container">
        <div class="masthead-subheading" th:text="${'Login'}">Login!</div>

        <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
            <label th:text="#{user.label.username}">Username</label>
            <br/>
            <input type="text" th:field="*{username}"/>
            <label class="error" th:errors="*{username}">Username error placeholder</label>
            <br/><br/>

            <label th:text="#{user.label.password}">Password</label>
            <br/>
            <input type="password" th:field="*{password}"/>
            <label class="error" th:errors="*{password}">Password error placeholder</label>
            <br/><br/>

            <input type="submit" value="Login"/>
        </form>

    </div>
</header>






<form th:replace="~{index.html :: footer}"></form>
</body>
</html>