<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('All Posts')}"></form>
<body>
<form th:replace="~{HomeView.html :: header}"></form>

<div class="body-content">
    <form action="#" th:action="@{/posts}" method="get" th:object="${filterOptions}">
        <label th:text="#{posts.filter.label}">Filter Options</label>
        <br/><br/>


            <input  type="text" placeholder="Post title" th:field="*{title}" value="" />


        <input type="text" placeholder="username" th:field="*{createdByUserName}" value="" />



        <select th:field="*{sortBy}">
            <option value="">Sort By</option>
            <option value="commentCount">Comments</option>
            <option value="date">Create date</option>

        </select>
        <select th:field="*{sortOrder}">
            <option value="">Sort Order</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <br/><br/>

        <input type="submit" value="Search"/>
    </form>

    <div th:if="${posts.isEmpty()}">
        <h2 th:text="#{posts.title.empty}">No Posts</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 th:text="#{posts.title}">All Posts</h2>

        <div class="table">
            <div class="header">
                <div class="cell" th:text="#{post.label.title}">Title</div>
                <div class="cell" th:text="#{post.label.content}">Content</div>

            </div>
            <div class="row" th:each="post : ${posts}">
                <div class="cell">
                    <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.title}">Post</a>

                </div>

                <div class="cell">

                    <a href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${post.content}">Post</a>
                </div>


            </div>
        </div>
    </div>
</div>

<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>