<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('All Beers')}"></form>
<body>
<form th:replace="~{HomeView.html :: header}"></form>

<div class="body-content">
    <form action="#" th:action="@{/beers}" method="get" th:object="${filterOptions}">
        <label th:text="#{beers.filter.label}">Filter Options</label>
        <br/><br/>
        <input type="text" placeholder="Beer name" th:field="*{name}"/>
        <input type="number" min="0" max="80" step="0.1" placeholder="2.5" th:field="*{minAbv}"/>
        <input type="number" min="0" max="80" step="0.1" placeholder="7.5" th:field="*{maxAbv}"/>
        <select th:field="*{styleId}">
            <option value="">Any Style</option>
            <option th:each="style : ${styles}"
                    th:value="${style.id}"
                    th:text="${style.name}">
                BeerStyleOne
            </option>
        </select>
        <select th:field="*{sortBy}">
            <option value="">Sort By</option>
            <option value="name">Name</option>
            <option value="abv">ABV</option>
            <option value="style">Style</option>
        </select>
        <select th:field="*{sortOrder}">
            <option value="">Sort Order</option>
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
        </select>
        <br/><br/>

        <input type="submit" value="Search"/>
    </form>

    <div th:if="${beers.isEmpty()}">
        <h2 th:text="#{beers.title.empty}">No Beers</h2>
    </div>
    <div th:unless="${beers.isEmpty()}">
        <h2 th:text="#{beers.title}">All Beers</h2>

        <div class="table">
            <div class="header">
                <div class="cell" th:text="#{beer.label.name}">Name</div>
                <div class="cell" th:text="#{beer.label.abv}">ABV</div>
                <div class="cell" th:text="#{beer.label.style}">Style</div>
            </div>
            <div class="row" th:each="beer : ${beers}">
                <div class="cell">
                    <a href="#" th:href="@{/beers/{id}(id=${beer.id})}" th:text="${beer.name}">Beer</a>
                </div>
                <div class="cell" th:text="${beer.abv}">4.5</div>
                <div class="cell" th:text="${beer.style.name}">Style</div>
            </div>
        </div>
    </div>
</div>

<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>