<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('Post')}"></form>


<body>
<form th:replace="~{HomeView.html :: header}"></form>
<div class="body-content">
    <h2 th:text="${post.title}">Post Title</h2>
    <div th:style="text-align">
        <div  th:each="tag : ${post.getTags()}">
            <div >
                <a href="#"  th:text="${tag.name}" >Post</a>

            </div>
        </div>


        <p class="margin12" th:text="${'Title'  + ': ' + post.title} "></p>
        <p class="margin12" th:text="${'Content'  + ': ' + post.content} "></p>
        <p class="margin12" th:text="${'Create By '  + ': ' + post.getCreatedBy().email}"></p>
        <p class="margin12" th:text="${'Create Date '  + ': ' + post.getCreateDate()}"></p>
        <p class="margin12" th:text="${'Like '  + ': ' + likeCount}"></p>

        </div>
        <div class="table" th:if ="${hasComments}">
            <div class="header">
                <div class="cell" th:text="${'Comment name'}"  >Comment name</div>
                <div class="cell" th:text="${'Create by'}">Create by</div>
                <div class="cell" th:text="${'Create date'}">Create date</div>

            </div>
            <div class="row" th:each="comment : ${comments}">
                <div class="cell">
                    <a href="#" th:href="@{/posts/{id}/comment/{commentId} (id=${post.id} , commentId=${comment.id})}" th:text="${comment.content}" >Comment</a>

                </div>

                <div class="cell">

                    <p href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${comment.getCreatedBy().email}">Create by</p>
                </div>
                <div class="cell">

                    <p href="#" th:href="@{/posts/{id}(id=${post.id})}" th:text="${comment.getCreateDate()}">Create date</p>
                </div>



            </div>
        </div>


    </div>
    <h3 th:if="${isAuthenticated}">
        <!--    <a href="#" th:href="@{/beers/{id}/update(id=${beer.id})}">Update</a>-->
        <!--    <a href="#" th:href="@{/beers/{id}/delete(id=${beer.id})}">Delete</a>-->
        <a href="#" th:if="${hasModifyPermissions}" || th:unless="${isBlocked}" th:href="@{__${requestURI}__/update}">Update</a>
        <a href="#" th:if="${hasModifyPermissions}" || th:unless="${isBlocked}" th:href="@{__${requestURI}__/delete}">Delete</a>


         <a href="#" th:unless="${hasUserLikedPost}" th:href="@{/posts/{id}/like(id=${post.id})}">Like</a>
        <a href="#" th:if="${hasUserLikedPost}" th:href="@{/posts/{id}/like(id=${post.id})}">Remove Like</a>
        <a href="#" th:unless="${isBlocked}" th:href="@{__${requestURI}__/AddComment}">Add comment</a>

       <!-- <a href="#" th:href="@{__${requestURI}__/like}">Like</a>-->

    </h3>





<form th:replace="~{HomeView.html :: footer}"></form>
</body>
</html>