<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{HomeView.html :: head('User')}"></form>
<body>
<div class="body-content">
    <div th:style="text-align">
        <form th:replace="~{HomeView.html :: header}"></form>
        <h1>User</h1>
        <p>asd</p>
        <p class="margin12" th:text="${'Username'  + ': ' + user.username} "></p>
        <p class="margin12" th:text="${'First Name'  + ': ' + user.firstName} "></p>
        <p class="margin12" th:text="${'Last Name'  + ': ' + user.lastName} "></p>
        <p class="margin12" th:text="${'Email'  + ': ' + user.email} "></p>
        <p class="margin12" th:if="${isPhoneNumber}" th:text="${'Phone number'  + ': ' + AdminPhoneNumber.getPhoneNumber()} "></p>

            <form th:if="${user.isAdmin()}"  th:unless="${isPhoneNumber}" action="#" th:action="@{/users/current}" th:object="${adminPhoneNumber}" method="post">

                <input type="text" th:field="*{phoneNumber}"/>
                <br/><br/>

                <input type="submit" value="Add phone number"/>
            </form>



            <a href="#"  th:if="${user.isAdmin() && isPhoneNumber}" th:href="@{/users/{id}/deleteNumber (id=${user.id})}">Delete phone number</a>



       <!-- TODO UPDATE DELETE USER -->
        <a href="#"  th:href="@{/users/{id}/delete (id =${user.id})}">Delete  </a>
        <form th:replace="~{PostsView.html :: posts}"></form>
        <form th:replace="~{HomeView.html :: footer}"></form>
    </div>
</div>
</body>
</html>