<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{index.html :: head('User')}"></form>
<body>
<div th:replace="~{index.html :: nav}"></div>
<header class="masthead">
    <div class="container">
        <h1>User</h1>
    <div class="container1" th:style="text-align" >
        <p class="message-body"  th:text="${'Username'  + ': ' + user.username} "></p>
        <p class="message-body" th:text="${'First Name'  + ': ' + user.firstName} "></p>
        <p class="message-body"  th:text="${'Last Name'  + ': ' + user.lastName} "></p>
        <p class="message-body"  th:text="${'Email'  + ': ' + user.email} "></p>
        <p class="message-body"  th:if="${isPhoneNumber}" th:text="${'Phone number'  + ': ' + AdminPhoneNumber.getPhoneNumber()} "></p>
        <br/><br/>
            <form th:if="${user.isAdmin()}"  th:unless="${isPhoneNumber}" action="#" th:action="@{/users/current}" th:object="${adminPhoneNumber}" method="post">

                <input type="text" th:field="*{phoneNumber}"/>
                <input type="submit" class="btn btn-primary mb-2" value="Add phone number"/>
            </form>

        <br/><br/>
        <h5>
            <a class="message-body" href="#"  th:if="${user.isAdmin() && isPhoneNumber}" th:href="@{/users/{id}/deleteNumber (id=${user.id})}">Delete phone number</a>
        <a class="message-body" href="#"  th:href="@{/users/{id}/update (id =${user.id})}">Update  </a>
        <a class="message-body" href="#"  th:href="@{/users/{id}/delete (id =${user.id})}">Delete  </a>
        </h5>
        <form th:replace="~{PostsView.html :: postsList}"></form>
        <form th:replace="~{index.html :: footer}"></form>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/static/js/scripts.js" th:src="@{../static/js/scripts.js}"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</header>
<form th:replace="~{index.html :: footer}"></form>
</body>
</html>